In [1]:
from bs4 import BeautifulSoup as bs
import requests 
import csv
import pandas as pd

company=[]
experience = [] 
location=[]
description= []
skills=[]
date=[]

In [2]:
for page in range(1,401):
  pages= requests.get("https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence=2&startPage={}".format(page)) # URL of the website which you want to scrape
  soup=bs(pages.content,'html.parser')
  soup.prettify()

  jobs=soup.find_all('li',class_="clearfix job-bx wht-shd-bx")

  for job in jobs:
    company.append(job.find('h3',class_="joblist-comp-name").get_text().strip())

    experience.append(job.find('i',class_="material-icons").next_sibling)

    location.append(job.find('ul',class_="top-jd-dtl clearfix").find('span').get_text())

    desc_lst=job.find('label')
    if desc_lst.text=='Job Description:':
      description.append(desc_lst.next_sibling)

    skills.append(job.find('span',class_="srp-skills").text)

In [3]:
print(len(company))
print(len(experience))
print(len(location))
print(len(description))
print(len(skills))

10000
10000
10000
10000
10000

In [4]:
print(company)
print(experience)
print(location)
print(description)
print(skills)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [5]:
data=pd.DataFrame({'Company_Name':company,'Experience':experience,'Location':location,'Description':description,'Skills':skills})
data.head(10)

,Company_Name,Experience,Location,Description,Skills
0,Anantha Cyber Tech Pvt Limited,3 - 6 yrs,Hyderabad/Secunderabad,\r\nJob title Openings for Python Developer De...,"\npython , c , c , information technol..."
1,quality thought,2 - 5 yrs,Hyderabad/Secunderabad,\r\nJob Description:Contribute to designing an...,"\r\n \r\n rest , python , dj..."
2,DREAMAJAX TECHNOLOGIES,4 - 7 yrs,Bengaluru / Bangalore,\r\nPYTHON DEVELOPER B.E / B.Tech / MCA /...,"\npython , django , api , sql , nosql\..."
3,Relevance Lab Inc,1 - 3 yrs,Bengaluru / Bangalore,\r\nPython Experience: 1-3 years Work Location...,"\npython , html5 , javascript , django ..."
4,Intellectyx,3 - 6 yrs,Coimbatore,\r\nResponsibilities: Develop and deliver web ...,"\npython , mobile , javascript , react.j..."
5,WHITE FORCE,8 - 11 yrs,Gurgaon,\r\nArea / Skill Lead profile with at least 8 ...,"\r\n \r\n algorithms , python ..."
6,Congruent Info-Tech,3 - 6 yrs,Chennai,\r\nYour Responsiblities Participate in the De...,"\r\n \r\n c# , algorithms , ..."
7,e-stone information technology,5 - 8 yrs,Hyderabad/Secunderabad,\r\nJOB DescriptionResponsibilities 5 years o...,"\r\n \r\n algorithms , python ..."
8,contactpoint 360,2 - 3 yrs,,\r\nCandidate we are looking for:We are lookin...,"\npython , cloud services , storage , sq..."
9,ACENET TECHNOLOGIES,3 - 6 yrs,"Gurgaon, Chennai, Pune",\r\nJob Description: Knowledge of design princ...,"\r\n \r\n fundamentals , pytho..."

In [6]:
data.to_csv('timesjobs_raw_data.csv')